:root {
  --background-color: rgb(52, 58, 64);
  --primary-color: rgb(166, 231, 242);
  --accent-color: rgb(87, 204, 153);
}

html {
  background-color: var(--background-color);
  color: var(--primary-color);
  padding: 2rem;
  padding-top: 0rem;
}

main {
  font-family: "Righteous", cursive;
  align-content: center;
  text-align: center;
  background-color: var(--background-color);
  color: var(--primary-color);
}

h1 {
  font-size: 5rem;
}

h3 {
  font-family: "Fira Sans", sans-serif;
}
