html {
  background-color: #343a40;
  color: #a6e7f2;
}

main {
  font-family: "Righteous", cursive;
  align-content: center;
  text-align: center;
  background-color: #343a40;
  color: #a6e7f2;
}

h1 {
  font-size: 40em;
}

h3 {
  font-family: "Righteous", cursive;
}
